*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
.cabecalho-imagem{
height: 72px;
}
.menu{
    display: flex;
    gap: 32px;
}
.menu-item{
font-family: 'Sarala',sans-serif;
color: #fff2E7;
font-weight: 400;
font-size: 18px;
}
.menu-item:hover{
color: #c4c4c4;
}
.conteudo{
margin-bottom: 48px;
border-top: 0.4px solid #fff2E7;
}
.sessao1{
    justify-content: space-around;
    display:flex;
flex-direction: row;
align-items: center;
}
.sessao1-item{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.sessao1-titulo{
    font-family: 'Righteous',cursive;
    font-weight: 400;
    font-size: 64px;
    color: #fff2E7;
}
.sessao1-subtitulo{
 font-size: 24px;
 color: #ECD6C4;
  font-family: 'Sarala',sans-serif;
  font-weight: 400;
}
.sessao1-botao{
border-radius: 12px;
width: 180px;
background-color: #ECD6C4;
height: 60px;
border: none;
box-shadow: 4px 5px 4px rgb(0,0,0,0.25);
color: #2F232551;
font-family: 'Sarala',sans-serif;
font-weight: 400;
font-size: 24px;
color:#2F2325;
}
.sessao1-botao:hover{
color: aliceblue;
}
.fotobot{
    height: 430px;
}
.sessao2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}
.sessao2-titulo{
    border-top:0.4px solid #fff2E7;
    padding-top: 48px;
   font-size: 24px;
   font-family: 'Righteous',cursive;
   font-weight: 400;
   color: #fff2E7;
   margin-bottom: 16px;
}
.p1{
    font-weight: 300;
    font-size: 18px;
    font-family: 'Sarala',sans-serif;
   color: #ECD6C4;
}
.rodape{
    padding: 32px;
    border-top:0.4px solid #fff2E7;
}
.rodape-img{
height: 48px;
display: block;
margin: 0 auto;
}
